DB_NAME="your database name"
DB_USER="your database user"
DB_PASSWORD="your database user password"
# برای استفاده لوکال مقدار هاست localhost باشد
DB_HOST="db"
DB_PORT="5432"
SECRET_KEY="your secret key in setting"
#برای استفاده لوکال بدون داکر مقدار باید باشد redis://127.0.0.1:6379/1
REDIS_URL="redis://redis:6379/1"
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1